/* /Shared/Components/DataTable/Column.razor.rz.scp.css */
.column[b-xubdsi128j] {
    padding: 2rem 1rem;
}
/* /Shared/Components/DataTable/DataTable.razor.rz.scp.css */
.data-table[b-v76xsnglrq] {
    display: flex;
    flex-wrap: nowrap;
}
/* /Shared/Components/DetailList/DetailList.razor.rz.scp.css */
.detail-list[b-wbh3ignmnk] {
    padding: 0;
    list-style: none;
}
/* /Shared/Components/DetailList/DetailListItem.razor.rz.scp.css */
[b-3xknls171e] svg {
    max-width: 100%;
    max-height: 100%;
}

span[b-3xknls171e] {
    display: inline-block;
    width: 30%;
}

.detail-list-item__icon[b-3xknls171e] {
    --icon-size: 2rem;

    width: var(--icon-size);
    height: var(--icon-size);
}
/* /Shared/Components/Map/Map.razor.rz.scp.css */
.map[b-ddbwi9g0pp] {
    --map-width: 20rem;
    --map-height: 40rem;

    position: relative;
    width: var(--map-width);
    height: var(--map-height);
}

.map__overlay[b-ddbwi9g0pp] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map__overlay[b-ddbwi9g0pp]  svg {
    max-width: 100%;
}

.map__points[b-ddbwi9g0pp] {
    list-style: none;
    padding: 0;
}
/* /Shared/Components/Map/MapPoint.razor.rz.scp.css */
.map-point[b-zl3qeubuyk] {
    position: absolute;
}

.map-point[b-zl3qeubuyk]  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.map-point__spot[b-zl3qeubuyk] {
    --spot-size: 2rem;

    border-radius: 100%;
    width: var(--spot-size);
    height: var(--spot-size);
    background: transparent;
    border: 0;
}

.map-point__spot:focus[b-zl3qeubuyk] {
    outline: none;
}

.map-point__spot:hover[b-zl3qeubuyk]  svg {
    color: rgb(163, 226, 255);
}

.map-point.active .map-point__spot[b-zl3qeubuyk]  svg {
    color: #FFC500;
}

.map-point__label[b-zl3qeubuyk] {
    position: absolute;
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 0.2rem;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.2rem;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hvbemzav5n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-hvbemzav5n] {
    flex: 1;
}

.sidebar[b-hvbemzav5n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hvbemzav5n] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hvbemzav5n]  a, .top-row .btn-link[b-hvbemzav5n] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-hvbemzav5n] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hvbemzav5n] {
        display: none;
    }

    .top-row.auth[b-hvbemzav5n] {
        justify-content: space-between;
    }

    .top-row a[b-hvbemzav5n], .top-row .btn-link[b-hvbemzav5n] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hvbemzav5n] {
        flex-direction: row;
    }

    .sidebar[b-hvbemzav5n] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hvbemzav5n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-hvbemzav5n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-iiq70rmzob] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-iiq70rmzob] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-iiq70rmzob] {
    font-size: 1.1rem;
}

.oi[b-iiq70rmzob] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-iiq70rmzob] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-iiq70rmzob] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-iiq70rmzob] {
        padding-bottom: 1rem;
    }

    .nav-item[b-iiq70rmzob]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-iiq70rmzob]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-iiq70rmzob]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-iiq70rmzob] {
        display: none;
    }

    .collapse[b-iiq70rmzob] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
