<div class="data-row data-row--title-label">
    <h3>@Title</h3>
    <p>@Label</p>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;
}
