<div class="row-title-label">
    <h3>@Title</h3>
    <h4>@Label</h4>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;
}
