@page "/components"
@using BlazorDemo.Client.Shared.Components
@using BlazorDemo.Client.Shared.Components.DataTable
@using BlazorDemo.Client.Shared.Components.DetailList
@using BlazorDemo.Client.Shared.Components.Graphics
@using BlazorDemo.Client.Shared.Components.Map
@using BlazorDemo.Client.Shared.Components.Rows
@using BlazorDemo.Client.Shared.Models
@using BlazorDemo.Client.Shared.Constants

<main>
    <section>
        <DataTable>
            <Column title="Wind">
                <RowTitle Title="13 kt" />
                <RowTitleLabel
                    Title="40 kt"
                    Label="Current Gust"
                />
                <RowTitleLabel
                    Title="N"
                    Label="Wind Direction"
                />
            </Column>
            <Column title="Tide">
                <RowTitle Title="Dropping" />
                <RowTideForecaset
                    Label="Next High Tide"
                    TideForecaset="1m at 10:51 WST"
                    RelativeTime="in 18 hours"
                />
                <RowTideForecaset
                    Label="Next Low Tide"
                    TideForecaset="0.99m at 12:30 WST"
                    RelativeTime="in 2 hours"
                />
            </Column>
            <Column title="Wave">
                <DetailList ListContent="@ExampleListContent" />
            </Column>
            <Column title="Weather">
                <RowTitle Title="18.4°C" />
                <RowTitleLabel
                    Title="80%"
                    Label="Humidity"
                />
                <RowTitleLabel
                    Title="1009 hPa"
                    Label="Air Pressure"
                />
            </Column>
        </DataTable>
    </section>
    <section>
        <Map MapPoints="@MapPointsContent">
            <MapOfFremantle />
        </Map>
    </section>
</main>

@code {
    public List<DetailListItemModel> ExampleListContent { get; } = new List<DetailListItemModel>() {
        new DetailListItemModel() {
            IconType = "Wave",
            Label = "Swell Height",
            Data = "0.09m"
        },
        new DetailListItemModel() {
            IconType = "Wave",
            Label = "Total Height",
            Data = "0.16m"
        },
        new DetailListItemModel() {
            IconType = "Clock",
            Label = "Swell Period",
            Data = "15sec"
        },
        new DetailListItemModel() {
            IconType = "Clock",
            Label = "Total Period",
            Data = "4.5sec"
        },
        new DetailListItemModel() {
            IconType = "Direction",
            Label = "Wave Direction",
            Data = "N/A"
        },
        new DetailListItemModel() {
            IconType = "Temperature",
            Label = "Water Temp",
            Data = "N/A"
        }
    };

    public List<MapPointModel> MapPointsContent { get; } = new List<MapPointModel>() {
        new MapPointModel() {
            Identifier = Constants.MapLocations.DeepWaterChannel,
            Label = "Deep Water Channel",
            Coordinates = new List<int>(){3, 3}
        },
        new MapPointModel() {
            Identifier = Constants.MapLocations.InnerHarbour,
            Label = "Inner Harbour",
            Coordinates = new List<int>(){3, 6}
        },
        new MapPointModel() {
            Identifier = Constants.MapLocations.ParmeliaChannel,
            Label = "Parmelia Channel",
            Coordinates = new List<int>(){2, 4}
        },
        new MapPointModel() {
            Identifier = Constants.MapLocations.OuterHarbour,
            Label = "Outer Harbour",
            Coordinates = new List<int>{6, 7}
        }
    };
}