@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorDemo.Shared
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

    <h1>Hello, world! Test weather</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />

    <hr>

    @if (weather == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@weather.Date.ToShortDateString()</td>
                <td>@weather.TemperatureC</td>
                <td>@weather.TemperatureF</td>
                <td>@weather.Summary</td>
            </tr>
            </tbody>
        </table>
    }

    @code {
        private HubConnection hubConnection;
        private WeatherForecast weather = new WeatherForecast {Date = DateTime.Now, TemperatureC = 25, Summary = "Initial"};
        private string userInput;
        private string messageInput;

        protected override async Task OnInitializedAsync()
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/weather"))
                .Build();

            hubConnection.On<WeatherForecast>("WeatherUpdate", model =>
            {
                weather = model;
                StateHasChanged();
            });

            await hubConnection.StartAsync();
        }

        public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

        public async ValueTask DisposeAsync()
        {
            await hubConnection.DisposeAsync();
        }
    }