@page "/"

@using Fluxor
@using BlazorDemo.Client.Shared.Store.WeatherHub
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<WeatherHubState> _weatherHubState
@inject IDispatcher _dispatcher

<h1>Hello, world! Test weather</h1>

    Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr>

@if (_weatherHubState.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else if (!string.IsNullOrEmpty(_weatherHubState.Value.Error))
{
    <p><strong>Error: @_weatherHubState.Value.Error</strong></p>
}
else if (_weatherHubState.Value.Forecast != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@_weatherHubState.Value.Forecast?.Date.ToShortDateString()</td>
                <td>@_weatherHubState.Value.Forecast?.TemperatureC</td>
                <td>@_weatherHubState.Value.Forecast?.TemperatureF</td>
            </tr>
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        _dispatcher.Dispatch(new WeatherHubStartAction());
        base.OnInitialized();
    }
}